.idea
composer.lock
*.log
thinkphp

*.zip
.DS_Store
uploads
node_modules
code/server/public/static/*
code/web/dist/*
code/client/windows/MIXC/bin
code/server/public/release
client1
client2
client3
client4
client_template
package
packages
*.user
bin
obj
dist
*.tmp
code/server/public/index.html

导航软件
导航软件.rar
code/client/windows/MIXC/.vs/*
*.suo
code/client/windows/MIXC/.vs/MIXC/v14/.suo