html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0.5283vh 0.92592593vw;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.row {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
}
.form-row {
  padding: 10px 0;
}
.form-row .form-label {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #666;
}
.form-row .form-input {
  outline: none;
  height: 30px;
  background-color: #FFF;
  color: #333;
  font-size: 16px;
  border-radius: 0px;
  border: 2px solid #999;
  -webkit-transition: border-color 0.3s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
}
.form-row .form-input:hover {
  border-color: #333;
}
.form-row .form-input:focus {
  border-color: #0078d7;
}
.index-ads {
  height: 29.4717vh;
}
.index-ads .swiper-slide {
  height: 29.4717vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
nav.index-nav .index-nav-item {
  display: block;
  float: left;
  height: 14vh;
  width: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}
nav.index-nav .index-nav-item:first-child {
  height: 28vh;
}
.index-widget {
  height: 11vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 5vw;
  padding-top: 2vh;
  width: 100%;
}
.index-widget .city {
  width: 1.4vh;
  font-size: 1.3vh;
  color: #f7b500;
  word-break: break-all;
  vertical-align: middle;
}
.index-widget .time {
  color: #ecb1ad;
  font-size: 4vh;
  vertical-align: middle;
}
.index-widget .build {
  color: #ecb1ad;
  font-size: 4vh;
  vertical-align: middle;
  font-weight: bold;
}
.index-widget h5 {
  padding: 0;
  margin: 0;
  color: #68c3be;
  font-size: 1.3vh;
  vertical-align: middle;
  height: initial;
  line-height: initial;
  font-weight: normal;
  padding-left: 0.16875vh;
}
.index-category .col {
  height: 30.4717vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}
.index-category .justify {
  background-size: contain;
}
.public-header {
  display: block;
  position: relative;
  height: 22.91666667vh;
  overflow: hidden;
  color: #fff;
}
.public-header .block1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 12.4vh;
  width: 51.44814815vw;
  background-color: #ecb1ad;
}
.public-header .block2 {
  position: absolute;
  top: 0;
  left: 51.44814815vw;
  height: 12.4vh;
  width: 28.2vw;
  background-color: #f39801;
}
.public-header .block3 {
  position: absolute;
  top: 0;
  left: 79.64814815vw;
  height: 12.4vh;
  width: 18.5vw;
  background-color: #dab274;
}
.public-header .block4 {
  position: absolute;
  top: 12.4vh;
  left: 0;
  height: 6vh;
  width: 51.44814815vw;
  background-color: #f39801;
}
.public-header .block5 {
  position: absolute;
  top: 12.4vh;
  left: 51.44814815vw;
  height: 6vh;
  width: 28.2vw;
  background-color: #dab274;
}
.public-header .block6 {
  position: absolute;
  top: 18.4vh;
  left: 0;
  height: 4.51666667vh;
  width: 79.64814815vw;
  background-color: #ecb1ad;
  line-height: 4.51666667vh;
  font-size: 1.4vh;
  padding-right: 20px;
  box-sizing: border-box;
}
.public-header .block7 {
  display: block;
  position: absolute;
  top: 12.4vh;
  left: 79.64814815vw;
  height: 10.51666667vh;
  width: 18.5vw;
  background-color: #4d2d1e;
  padding-top: 1.4vh;
  text-decoration: none;
}
.public-header .block7 .iconfont {
  font-size: 4.5vh;
  color: #fff;
}
.public-header .block7 .title {
  font-size: 1.1vh;
  padding-top: 0.2vh;
  color: #fff;
}
.public-header .block8 {
  position: absolute;
  right: 18.5vw;
  top: 3vh;
  text-align: right;
  padding-right: 1.85185185vw;
}
.public-header .block8 h1 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 2.9vh;
}
.public-header .block8 h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 2.0vh;
  padding-bottom: 0.5vh;
}
.public-header .block9 {
  position: absolute;
  top: 12.4vh;
  left: 0;
  height: 6vh;
  width: 79.64814815vw;
  padding: 0;
  margin: 0;
  list-style: none;
  display: table;
}
.public-header .block9 li {
  padding: 0;
  text-align: center;
  display: table-cell;
  line-height: 6vh;
}
.public-header .block9 .iconfont {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.8vh;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease;
  color: #333;
  font-size: 14px;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
}
.modal-footer:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.modal-default-button {
  float: right;
  width: 120px;
  height: 30px;
  background-color: #cccccc;
  border: none;
  font-size: 16px;
  outline: none;
  border: solid 2px #cccccc;
}
.modal-default-button:hover {
  border-color: #999;
}
.modal-default-button:active {
  background-color: #999;
  border-color: #999;
}
.modal-default-button:disabled {
  color: #8D8D8D;
}
.modal-default-button:focus:disabled {
  background-color: #cccccc;
  border: solid 2px #cccccc;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.floor {
  position: relative;
  color: #fff;
}
.floor .img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-size: contain;
  height: 36.97916667vh;
  margin-top: 0.5283vh;
  margin-bottom: 0.5283vh;
}
.floor .floors {
  background-color: #ecb1ad;
  height: 5.21vh;
  line-height: 5.21vh;
  text-align: center;
  padding-left: 6vh;
  position: relative;
  overflow: hidden;
  border-bottom: 3px solid #333;
}
.floor .floors,
.floor .floors .iconfont {
  font-size: 2vh;
}
.floor .floors,
.floor .floors .row,
.floor .floors col {
  font-style: italic;
  cursor: pointer;
  box-sizing: border-box;
}
.floor .floors .col.active {
  color: #cb2c58;
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
.floor .floors .title {
  cursor: default;
  font-size: 1.1vh;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 1vh;
  transform: translateY(-50%);
}
.floor .info {
  position: absolute;
  left: 0px;
  height: 32.25266667vh;
  width: 29.90740741vw;
  padding-top: 2vh;
  box-sizing: border-box;
  border: solid 1px #e4e4e4;
  background-color: #fff;
  text-align: center;
}
.floor .info .build {
  width: 4.5vh;
  height: 4.5vh;
  line-height: 4.5vh;
  font-size: 2vh;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  background-color: #cb2c58;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  text-overflow: clip;
}
.floor .info .name {
  color: #cb2c58;
  font-size: 6.6vh;
  line-height: 6vh;
  font-family: -webkit-pictograph;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
}
.floor .info .alias {
  color: #66a311;
  font-size: 1.5vh;
  line-height: 3vh;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.floor .info .en {
  color: #ecb1ad;
  font-size: 1.1vh;
  line-height: 2vh;
  padding-bottom: 1.5vh;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  margin-top: -10px;
  color: #fabe2a;
}
.floor .info .tag {
  color: #333;
  font-size: 1vh;
  line-height: 1.7vh;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.floor .shops {
  box-sizing: border-box;
  border: solid 1px #e4e4e4;
  background-color: #f5f5f5;
  padding-left: 29.90740741vw;
  height: 32.25266667vh;
}
.floor .shops:after {
  content: "";
  height: 0px;
  visibility: hidden;
  display: block;
  clear: both;
}
.floor .shops h5 {
  color: #e05eb6;
  line-height: 4vh;
  font-size: 1.1vh;
  font-weight: normal;
  padding: 0;
  margin: 0;
  padding-left: 0.92592593vw;
  position: relative;
}
.floor .shops .search {
  position: absolute;
  right: 1.85185185vw;
  top: 0;
  cursor: pointer;
  text-align: right;
  display: block;
  width: 7.111111111111111vw;
}
.floor .shops .search .iconfont {
  font-size: 1.1vh;
  color: #e05eb6;
}
.floor .shops .letters {
  padding-bottom: 0.5283vh;
}
.floor .shops .letters:after {
  content: "";
  height: 0px;
  visibility: hidden;
  display: block;
  clear: both;
}
.floor .shops .letters a.letter {
  font-size: 1.1vh;
  height: 2vh;
  line-height: 2vh;
  text-align: center;
  display: block;
  float: left;
  margin-left: 0.92592593vw;
  margin-top: 0.5283vh;
  text-decoration: none;
  color: #333;
  border: solid 1px #e4e4e4;
  width: 4.60648148vw;
  cursor: pointer;
}
.floor .shops .letters a.letter.active {
  background-color: #e05eb6;
  color: #fff;
  border-color: transparent;
}
.floor .shops a.shop-item {
  display: block;
  background-color: #fff;
  color: #999;
  font-size: 1.1vh;
  float: left;
  height: 3.125vh;
  line-height: 3.125vh;
  margin-bottom: 0.5208vh;
  width: 21.2037037vw;
  margin-left: 0.92592593vw;
  text-align: center;
  border: solid 1px #dfddde;
  box-sizing: border-box;
  text-decoration: none;
}
.floor .shops .pagination {
  text-align: center;
}
.floor .shops .swiper-pagination-bullet-active {
  opacity: 1;
  background: #e05eb6;
}
.brand {
  position: relative;
  color: #fff;
}
.brand a {
  background-color: #dab274;
  display: block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  text-decoration: none;
}
.brand a.active {
  background-color: #f39801;
}
.brand .side {
  position: fixed;
  width: 27.77777778vw;
  top: 23.56vh;
  left: 0.92592593vw;
}
.brand .side .top {
  height: 27.77777778vw;
  background-color: #ecb1ad;
  position: relative;
}
.brand .side .top a {
  margin-top: 0.5vh;
  width: 11.11111111111111vw;
  font-size: 1.1vh;
  line-height: 2.24vh;
  height: 2.24vh;
}
.brand .side .top hr {
  padding: 0;
  margin: 0;
  background-color: #fff;
  height: 1px;
  top: 0px;
  right: 0px;
  left: 2vh;
  transform-origin: right;
  border: 0;
  transform: rotate(-45deg);
}
.brand .side .top .title {
  font-size: 2vh;
  right: 0.92592593vw;
  bottom: 0.5283vh;
  position: absolute;
}
.brand .side .menus a {
  margin-top: 0.5208vh;
  height: 5.2vh;
  line-height: 5.2vh;
  font-size: 1.5vh;
  letter-spacing: 8px;
}
.brand .side .menus.letter a {
  width: 8.333333333333333vw;
  height: 4.6875vh;
  float: left;
  margin-right: 1.388888888888889vw;
}
.brand .side .menus.letter a:nth-child(3n) {
  margin-right: 0;
}
.brand .submenus {
  position: absolute;
  left: 28.26666667vw;
  width: 16.66666666666667vw;
  z-index: 99;
  transform-origin: -25% -25%;
  animation-duration: 0.2s;
}
.brand .submenus a {
  height: 2.60416666666667vh;
  line-height: 2.60416666666667vh;
  font-size: 1.1vh;
  box-sizing: border-box;
  border: solid 1px rgba(255, 255, 255, 0.95);
  background-color: rgba(218, 178, 116, 0.95);
}
.brand .content {
  padding-left: 28.7037037vw;
  height: 75.3vh;
  overflow: auto;
  margin-top: 0.1212vh;
}
.brand .content .table-view-cell {
  margin-top: 0.5208vh;
  height: 14.625vh;
  border: 1px solid #e4e4e4;
  color: #999;
  background-color: inherit;
  box-sizing: border-box;
  position: relative;
}
.brand .content .table-view-cell .img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-left: 1px solid #e4e4e4;
  position: absolute;
  top: 0;
  right: 0;
  left: 24.88888888888889vw;
  bottom: 0;
}
.brand .content .table-view-cell .info {
  text-align: center;
  width: 24.88888888888889vw;
}
.brand .content .table-view-cell .info .icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  height: 4.16667vh;
  width: 7.407413333333333vw;
  margin: 1.5625vh auto;
}
.brand .content .table-view-cell .info .name {
  font-size: 1.5vh;
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: 0.1vh 0.5vh 0.25vh 0.5vh;
}
.brand .content .table-view-cell .info .desc {
  font-size: 1.0vh;
  padding-top: 0.5vh;
}
.brand .content .table-view-cell .info .floor {
  font-size: 1.1vh;
  padding-top: 0.5vh;
}
.brand .content .table-view-cell:first-child {
  margin-top: 0;
}
.shop {
  position: relative;
  color: #fff;
}
.shop .swiper-container {
  margin-right: 44.44444444vw;
  height: 25vh;
}
.shop .swiper-container .swiper-slide {
  background-size: cover;
}
.shop .info {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 25vh;
  width: 44.44444444vw;
  color: #333;
  padding: 0.5283vh 0.92592593vw;
  box-sizing: border-box;
}
.shop .info .icon {
  border-radius: 50%;
  height: 5.98958333333333vh;
  width: 10.64814814814815vw;
  margin: 0 auto 1.9vh auto;
  position: relative;
}
.shop .info .icon .icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 4.16667vh;
  width: 7.407413333333333vw;
}
.shop .info .qr-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 6.25vh;
  height: 6.25vh;
  right: 0.78vh;
  top: 10.41666666666667vh;
  position: absolute;
}
.shop .info hr {
  border: 0;
  height: 1px;
  background-color: #e4e4e4;
}
.shop .info .name {
  font-size: 1.1vh;
  display: block;
  margin-top: 1vh;
  padding-left: 0.92592593vw;
}
.shop .info .name .red {
  color: #e86b6a;
}
.shop .info .desc {
  padding-left: 0.92592593vw;
  font-size: 1.1vh;
  padding-top: 1.1vh;
}
.shop .info .floor {
  padding-left: 0.92592593vw;
  font-size: 1.1vh;
  padding-top: 1.1vh;
}
.shop .info .back {
  display: block;
  position: absolute;
  background-color: #ecb1ad;
  right: 0;
  bottom: 0;
  width: 13.88888888888889vw;
  height: 5.72916666666667vh;
  line-height: 5.72916666666667vh;
  text-align: center;
  font-size: 1.1vh;
  color: #fff;
  cursor: pointer;
}
.shop .info .back .iconfont {
  font-size: 2.5vh;
  vertical-align: sub;
  color: #fff;
}
.shop .introduction {
  margin-top: 0.5283vh;
  padding: 0.5283vh 0.92592593vw;
  box-sizing: border-box;
  background-color: #ecb1ad;
}
.shop .introduction h4 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 3vh;
  line-height: 3vh;
  font-size: 1.5vh;
}
.shop .introduction p {
  text-indent: 2em;
  line-height: 2vh;
  font-size: 1vh;
  padding: 0;
  margin: 0;
}
.shop .shop-nav {
  box-sizing: border-box;
  margin-top: 0.5283vh;
  width: 100%;
}
.info a {
  background-color: #dab274;
  display: block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  color: #fff;
}
.info a.active {
  background-color: #f39801;
}
.info .side {
  overflow: auto;
  height: 75.49843333vh;
  float: left;
}
.info .side a {
  margin-bottom: 0.5208vh;
  height: 5.2vh;
  line-height: 5.2vh;
  width: 27.77777778vw;
  font-size: 1.5vh;
  letter-spacing: 8px;
}
.info .content {
  color: #333;
  width: 70.37037037vw;
  height: 75.49843333vh;
  float: left;
  padding-left: 0.92592593vw;
  box-sizing: border-box;
}
.info .content img {
  max-width: 100%;
}
.article .content {
  color: #333;
  padding-top: 20px;
}
.activity .imgs {
  overflow: auto;
  height: 75.49843333vh;
  width: 27.77777778vw;
  float: left;
  box-sizing: border-box;
}
.activity .imgs img {
  box-sizing: border-box;
  margin-top: 0.5283vh;
  width: 100%;
}
.activity .img {
  margin-left: 0.92592593vw;
  width: 69.44444444vw;
  height: 75.49843333vh;
  float: left;
  margin-top: 0.5283vh;
}
.activity .img img {
  width: 100%;
}
.config .button {
  display: block;
  z-index: 9999;
  height: 50px;
  width: 50px;
  position: fixed;
  left: 0;
  top: 0;
}
.password .input {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.password .input .num {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: solid 1px #ccc;
  transition: background-color 0.2s ease-in-out;
  margin: 10px;
}
.password .input .num.active {
  background-color: #ccc;
}
.password .keyboard {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 5px;
}
.password .keyboard:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}
.password .keyboard .key {
  display: block;
  float: left;
  width: 84px;
  height: 84px;
  line-height: 84px;
  border-radius: 84px;
  margin: 5px;
  text-align: center;
  color: #333;
  border: solid 1px #ccc;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.password .keyboard .key-back {
  width: 178px;
}
.password .keyboard .key:active {
  background-color: #ccc;
  color: #fff;
}
